<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Spacial OClock.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
				<key>dateExpires</key>
				<string>06/11/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>23.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>2.8.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>5.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SKCountryPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVPinView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ShimmerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.30.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>16.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeApplePay.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>23.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>23.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePaymentSheet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>23.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePayments.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>23.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripePaymentsUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>23.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>StripeUICore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>23.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftGifOrigin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>9.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0B6948908AC207806EA8B8BA7CC959D823684395</string>
						<key>dateExpires</key>
						<string>06/11/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WaterfallLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TSH4MBVHWY</string>
						<key>name</key>
						<string>Marinus Van Der Merwe</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TSH4MBVHWY.com.live.specialOClockUser</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TSH4MBVHWY</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Spacial OClock.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c8305de9-844b-49cd-acac-37023fb2e7d0</string>
				<key>dateExpires</key>
				<string>06/11/24</string>
				<key>name</key>
				<string>ClientUserProfile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TSH4MBVHWY</string>
				<key>name</key>
				<string>Marinus Van Der Merwe</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
